%script#month-cal-template{type: "text/x-handlebars-template"}
	#month_cal
		= calendar_for(@events, year: @year, month: @month, first_day_of_week: 1) do |t|
			= t.head('Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс')
			= t.day do |day, events|
				.span2#day_link{style: "height: 100%;", 
												onclick: "location.href = '/events/day/#{day.year}/#{sprintf '%02d', day.month}/#{sprintf '%02d', day.day}'", 
												onmouseover: "$(this).css({'opacity': '0.8', 'cursor' : 'pointer'});", 
												onmouseout: "$(this).css({'opacity': '1', 'cursor' : 'default'});"}
					.row
						= link_to new_event_path(date: day, time_option: 'month') do 
							= day.day
					- events.sort{|x,y| x.time <=> y.time}.each do |event|
						.row{style: "overflow: hidden"}
							.event-time
								.span1
									= event.time.strftime("%H:%M")
							.event-link
								.span1
									%nobr
										= link_to h(event.description), edit_event_path(event)