%script#week-nav-template{type: "text/x-handlebars-template"}
	#week
		.span1.btn-group
			%button.btn#day_back
				- if @week == 1
					= link_to "<", "/events/week/#{(@date - 1.week).year}/52"
				- else
					= link_to "<", "/events/week/#{(@date - 1.week).year}/#{sprintf '%02d', @week - 1}"
			%button.btn#day_forward
				- if @week == 52
					= link_to ">", "/events/week/#{(@date + 1.week).year}/01"
				- else
					= link_to ">", "/events/week/#{(@date + 1.week).year}/#{sprintf '%02d', @week + 1}"
		.span2{style: "margin-top: 7px;"}
			= "#{@date.strftime('%Y-%m-%d')}"