#day_of_week
	каждые&nbsp
	- if @days_of_week_names.present?
		- @days_of_week_names.each do |d|
			- if @event.repeat_type == "week" && @event.repeat_days.present?
				- if @event.repeat_days.split(' ').index(d[1]).nil?
					= check_box_tag "repeat_days[]", d[1]
				- else
					= check_box_tag "repeat_days[]", d[1], checked: true
			- else
				- if d[1] == @event.date.strftime("%a")
					= check_box_tag "repeat_days[]", d[1], checked: true
				- else
					= check_box_tag "repeat_days[]", d[1]
			= d[0]
			&nbsp