.page-header
	.row	
		.span4{style: "margin-left: 40px"}
			%h4 Редактирование события
		.span2{style: "margin-top: 12px"}
			= link_to "назад", root_url
		.span2{style: "margin-top: 12px"}
			= link_to "удалить событие", @event, method: :delete, :data => { :confirm => "Вы уверены?" }, :style => "color: #ff6666;"
.span11
	= form_for(@event) do |f|
		.row
			.span1
				Дата: 
			.span2
				= f.text_field :date, 'data-behaviour' => 'datepicker', class: "input-small"
			.span1
				Время: 
			.span2
				/ = f.text_field :time, 'data-behaviour' => 'timepicker', class: "input-small"
				= f.text_field :time, class: "timepicker input-small"
				%script
					$('.timepicker').timepicker()
		.row
			.span2
				Описание события:
			.span3
				= f.text_field :description, placeholder: "Введите описание события"
		.row
			#repeat_event
				.span2	
					Повторять&nbsp&nbsp
					= f.check_box  :is_repeat
				.span9#repeat_check
					= render partial: 'events/templates/repeat_type'
		.row
			%br
			.span12.offset3
				= f.submit "Обновить", class: "btn"
		.row
			.span5.offset1
				= render 'error_messages'
