.page-header
	.row	
		.span4{style: "margin-left: 40px"}
			%h4 Редактирование события
		.span2{style: "margin-top: 12px"}
			= link_to "назад", root_url
		.span2{style: "margin-top: 12px"}
			= link_to "удалить событие", @event, method: :delete, :data => { :confirm => "Вы уверены?" }, :style => "color: #ff6666;"
.span6
	= form_for(@event) do |f|
		.row
			.span2
				Дата: 
			.span3
				= f.text_field :date
		.row
			.span2
				Время: 
			.span3
				= f.text_field :date
		.row
			.span2
				Описание события:
			.span3
				= f.text_field :description, placeholder: "Введите описание события"
			.span1.offset2
				= f.submit "Обновить", class: "btn"
		.row
			%br
			.span5
				= render 'error_messages'
