#calendar
	= calendar_for(@events) do |t|
		= t.head('Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс')
		= t.day do |day, events|
			.span2
				.row
					= link_to new_event_path(date: day) do 
						= day.day
				- events.each do |event|
					.row{style: "overflow: hidden"}
						.event-link
							= link_to h(event.description), edit_event_path(event)