= content_for :js_link_tags do
	= javascript_include_tag "handlebars"
	= javascript_include_tag "events/index"
#calendar
	= render partial: 'events/templates/calendar/day_cal'
	= render partial: 'events/templates/calendar/week_cal'
	= render partial: 'events/templates/calendar/month_cal'
%br
#navigation
	= render partial: 'events/templates/navigation/day_nav'
	= render partial: 'events/templates/navigation/week_nav'
	= render partial: 'events/templates/navigation/month_nav'
#time_option
	.span2.btn-group{"data-toggle" => "buttons-radio"}
		%button.btn#day_option
			= link_to "День", "/events/day/#{@year}/#{sprintf '%02d', @month}/01"
		%button.btn#week_option
			= link_to "Неделя", "/events/week/#{@year}/#{sprintf '%02d', @month * 4 + 1}"
		%button.btn#month_option
			= link_to "Месяц", "/events/month/#{@year}/#{sprintf '%02d', @month}"
			