!!! 5
%html
	%head
		%title Calendar
		= stylesheet_link_tag    "application", :media => "all"
		= stylesheet_link_tag    "bootstrap", :media => "all"
		= javascript_include_tag "application"
		= yield(:js_link_tags)
		= include_gon
		= csrf_meta_tags
	%body
		.span12
			= yield
			